<h1>Assessment 2</h1>
<table class="table table-striped col-md-2">
  <thead>
  <tr>
    <th (click)="sorting('name')" class="clickable">Name
      <span *ngIf="direction == 1 &&column ==='name' " class="glyphicon glyphicon-save"></span>
            <span *ngIf="direction == -1 &&column ==='name'" class="glyphicon glyphicon-open"></span>
    </th>
    <th>C1</th>
    <th>C2</th>
    <th>C3</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of displayArray | orderBy: {column: column, direction: direction}">
    <td>{{data.name}}</td>
    <td>{{data.C1}}</td>
    <td>{{data.C2}}</td>
    <td>{{data.C3}}</td>
  </tr>
  </tbody>
</table>

